.footer {
    @include flex-center ();
    flex-direction: column;
    height: 355px;
    background: $footer-background-color;
    &-firsttext {
        @include bold-text ();
        line-height: 22px;
        color: $footer-headline-color;
        text-transform: uppercase;
        padding-bottom: 22px;
    };
    &-secondtext {
        font-size: 16px;
        color: $footer-text-color;
        padding-bottom: 37px;
        max-width: 684px;
        text-align: center;
    };
    &-hiddentext {display: none};
    &-img {
        @include flex-center ();
        width: 350px;
        padding-bottom: 34px;
    };
    &-img a {padding-right: 6px;};
    &-contacts {
        font-size: 16px;
        color: $footer-text-color;}}

@media (max-width: 767px){
.footer-img {max-width: $mobile;}
.footer-secondtext {display: none;}
.footer-hiddentext {
    display: flex;
    font-size: 16px;
    width: $mobile;
    color: $footer-text-color;
    padding-bottom: 37px;
    max-width: 684px;
    text-align: center;}
.footer-contacts {
    width: 235px;
    text-align: center;}}