.shots {
    background: $shots-background-color;
    background-size: cover;
    height: 427px;
    @include flex-center ();
    flex-direction: column;
    &-text {
        @include flex-between ();
        padding: 47px 0 24px 0;
        width: 1165px;
    &-1 {
        @include bold-text ();
        color: $headline-color;
        text-transform: uppercase;}
    &-2 {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $headline-color;}}
.last-shot {display: none;}
&-img {
    display: grid;
    grid-template-columns: repeat(4, 285px);   
    grid-template-rows: 285px;
    gap: 10px;
    padding-bottom: 50px;}}

@media (max-width: 1199px){
    .shots {margin: 0 auto;}
    .shots-text {max-width: $tablet; padding: 0 15px;}
    .shots-img {
    grid-template-columns: repeat(3, 235px);   
    grid-template-rows: 235px;
    padding-top: 30px;}
.shots-img-item {
    height: 235px;
    width: 235px;}
.img-hidden {display: none;}}

@media (max-width: 767px){
    .shots {background: none;}
    .shots .shots-text {
        max-width: $mobile;
        padding: 0 10px;}
    .shots .shots-img {
    grid-template-columns: $mobile;   
    grid-template-rows: $mobile;}
    .shots .shots-img-item {
    height: $mobile;
    width: $mobile;}
.img-hidden {display: none;}
.img-hidden-other {display: none;}
.shots-text-1 {display: none;}
.shots .last-shot {
    display: flex;
    @include bold-text ();
    color: $headline-color;
    text-transform: uppercase;}
.shots-text-2 {display: none;}}