@import "variable.scss";
@import "mixin.scss";
@import "reset.scss";
@import "recentposts";
@import "latestshots.scss";
@import "footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    text-decoration: none;}
.header {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    .div-btn {display: none};
   &-menu {
    @include flex-between ();
    max-width: 1170px;
    text-align: center;
   &-item {
    color: $headline-color;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;} 
    a {text-decoration: none;}

   &-item:hover{color: $hover-color;}}}
.first-li {padding-left: 178px;}
.last-li {padding-right: 178px;}
.intro-img {
    max-width: 1170px;
    height: 550px;
    padding-top: 34px;
    margin: 0 auto;}

@media (max-width: 1199px) {
    .intro-img {
        max-width: $tablet;
        height: 361px;
        padding: 30px 15px 0 15px;} 
    .intro-img img {
        max-width: $tablet;
        height: 361px;}}

@media (max-width: 767px) {
.first-li {padding-left: 0;}
.first-li a {color: #57A4A4;}
.last-li {padding: 0;}
.header {
max-width: $mobile; margin: 0 auto; position: relative;
&-menu {
    display: flex; position: absolute;
    flex-direction: column; 
    background: rgba(245, 245, 245, 1); 
    width: 182px; 
    height: 208px;
&-li { width: 100%; height: 100%;text-align: start;}
&-item {padding-left: 20px;}
&-li:hover {background:rgba(229, 229, 229, 1);}}
.div-menu {display: flex; justify-content: end;}
.hidden-div {display: none;}}
.header .div-btn {display: flex; justify-content: end;}
.div-btn .button {
    display: inline-block;
    width: 44px;
    height: 37px;
    background: url(../images/button.png);
    border: none;};
.div-btn .button.clicked {background: url(../images/menu-button.png);}
.intro-img {
    max-width: $mobile;
    height: 150px;
    padding: 30px 10px 0 10px;} 
.intro-img img {
    max-width: $mobile;
    height: 150px;}}