@mixin flex-center {       
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-start {       
    display: flex;
    align-items: start;
    justify-content: start;
}

@mixin flex-between {       
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-end {       
    display: flex;
    align-items: end;
    justify-content: end;
}

@mixin bold-text {
    font-size: 16px;
    font-weight: 700;
}