.recent-posts {
    margin: 0 auto;
    @include flex-center ();
    flex-direction: column;
.headline-post {
    text-align: start;
    width: 1168px;    
    padding: 70px 0 24px 0;
    .headline-text {
    @include bold-text ();
    color: $headline-color;
    text-transform: uppercase;}}
.posts-grid {
    display: grid;
    width: 1168px;   
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 55px;
    padding-bottom: 70px;}
.posts-grid-item {
    width: 555px;
    @include flex-start ();
&-img {width: 160px; height: 140px; padding-right: 21px;}
.aenean {
    @include bold-text ();
    color: $headline-color;
    padding: 10px 0 10px 0;}
.photography {
    font-size: 12px;
    color: $descr-color;
    padding-bottom: 15px;}
.etiam {
    font-size: 14px;
    color: $main-color;}}}

@media (max-width: 1199px){
.headline-post {
    max-width: $tablet;
    padding: 0 15px;}
.recent-posts .posts-grid {
    max-width: $tablet;
    padding: 0 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);}}

@media (max-width: 767px){
.recent-posts {
    height: 793px;
    padding: 15px 0 70px 0;}
.headline-post {
    max-width: $mobile;
    padding: 0 10px;}
.recent-posts .posts-grid {
    max-width: $mobile;
    padding: 0 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 65px;}
.recent-posts .posts-grid-item {
    height: 196px;
    width: 230px;
    display: flex;
    flex-direction: column;}
.posts-grid-item img {
    width: 160px;}
.posts-grid .last-grid-item {display: none;}
.etiam {display: none;}}