$tablet: 738px;
$mobile: 300px;

$hover-color: #57A4A4;
$headline-color: #4E4E4E;
$descr-color: #7C7C7C;
$main-color: #5C5C5C;
$footer-headline-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$shots-background-color: #F9F8F8;
$footer-background-color:#000;